Q1. Discuss string slicing and provide examples

Answer : String slicing in Python refers to extracting a portion (substring) of a string using a special syntax.

The syntax for slicing is as follows:

string[start:end:step]

String slicing examples

In [2]:
#Example-1 Extracting a substring with step size:
text = "abcdefgh"
print(text[1:7:2])  # Output: bdf (start at index 1, up to index 7, with a step of 2)

bdf

In [3]:
#Example-2 Reversing a string using slicing:
text = "Python"
print(text[::-1])  # Output: nohtyP (reverse the string)

nohtyP

Q2. Explain the key features of lists in Python

Answer: Below are Key features of lists:

Ordered: Maintains the order of elements.

Mutable: Can be changed (added, removed, modified).

Allows duplicates: Can contain the same element multiple times.

Mixed data types: Can store elements of different types.

Supports slicing: Can extract sublists using start, end, and step indices.

Dynamic size: The size of a list is flexible.

Built-in methods: Provides methods for common operations like adding, removing, and sorting.

Nested lists: Can contain other lists inside them.

Iterable: Can be iterated over with loops.

Below are some examples to understand key features of list:

In [5]:
# Example-1

my_list = [10, 20, 30]
print(my_list[0])  # Output: 10 (first element)

10

In [4]:
# Example-2
my_list = [10, 20, 30]
my_list[1] = 25  # Change second element
print(my_list)  # Output: [10, 25, 30]

[10, 25, 30]

In [6]:
# Example-3
my_list = [3, 1, 2]
my_list.append(4)       # Add 4 to the end
my_list.sort()          # Sort the list
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

Q3. Describe how to access, modify, and delete elements in a list with examples

Answer: In Python, lists are mutable, meaning you can easily access, modify, and delete elements.

Below are examples:

In [7]:
#Example-1 Accessing List Elements:
my_list = [10, 20, 30, 40, 50]

# Accessing elements using positive indexing
print(my_list[0])  # Output: 10 (first element)
print(my_list[2])  # Output: 30 (third element)

# Accessing elements using negative indexing
print(my_list[-1])  # Output: 50 (last element)
print(my_list[-2])  # Output: 40 (second-to-last element)

10
30
50
40

In [8]:
# Example-2 Modifying List Elements:
my_list = [10, 20, 30, 40, 50]

# Modifying an element at index 2 (third element)
my_list[2] = 100
print(my_list)  # Output: [10, 20, 100, 40, 50]

# Modifying the last element using negative indexing
my_list[-1] = 200
print(my_list)  # Output: [10, 20, 100, 40, 200]

[10, 20, 100, 40, 50]
[10, 20, 100, 40, 200]

In [9]:
# Example-3 Adding elements:
my_list = [10, 20, 30]

# Using append to add an element at the end
my_list.append(40)
print(my_list)  # Output: [10, 20, 30, 40]

# Using insert to add an element at a specific index
my_list.insert(2, 25)  # Insert 25 at index 2
print(my_list)  # Output: [10, 20, 25, 30, 40]

# Using extend to add multiple elements at once
my_list.extend([50, 60])
print(my_list)  # Output: [10, 20, 25, 30, 40, 50, 60]

[10, 20, 30, 40]
[10, 20, 25, 30, 40]
[10, 20, 25, 30, 40, 50, 60]

In [13]:
# Example-4 Deleting elements:
my_list = [10, 20, 30, 40, 50]

# Using del to delete an element by index
del my_list[2]  # Remove the element at index 2
print(my_list)  # Output: [10, 20, 40, 50]

# Using remove() to delete a specific value
my_list.remove(40)  # Remove the first occurrence of 40
print(my_list)  # Output: [10, 20, 50]

# Using pop() to remove and return the last element
last_element = my_list.pop()
print(last_element)  # Output: 50 (removed element)
print(my_list)  # Output: [10, 20]

# Using pop() to remove an element at a specific index
second_element = my_list.pop(1)  # Remove element at index 1 (second element)
print(second_element)  # Output: 20
print(my_list)  # Output: [10]

[10, 20, 40, 50]
[10, 20, 50]
50
[10, 20]
20
[10]

Q4. Compare and contrast tuples and lists with examples

Answer : Both tuples and lists are used to store collections of items in Python. However, there are several key differences between them in terms of mutability, syntax, performance, and usage. Let's compare and contrast tuples and lists in detail.

Comparison of tuples and lists:

1. Syntax
List: Defined with square brackets [ ].
Tuple: Defined with parentheses ( ).
2. Mutability
List: Mutable (can be modified).
Tuple: Immutable (cannot be modified).
3. Methods for Adding/Modifying
List: Methods like append( ), extend( ), insert( ) to add or modify elements.
Tuple: No methods for adding or modifying since it's immutable.
4. Use in Dictionaries
List: Cannot be used as dictionary keys because lists are mutable and not hashable.
Tuple: Can be used as dictionary keys because tuples are immutable and hashable.

In [14]:
# Example-1 Syntax
# List
my_list = [1, 2, 3, 4]

# Tuple
my_tuple = (1, 2, 3, 4)

In [18]:
# Example-2 Mutability
# Modifying a list (mutable)
my_list = [1, 2, 3]
my_list[0] = 10  # Modifying the first element
print(my_list)  # Output: [10, 2, 3]

# Modifying a tuple (immutable)
my_tuple = (1, 2, 3)
# This will raise an error
my_tuple[0] = 10  # TypeError: 'tuple' object does not support item assignment
my_tuple

[10, 2, 3]

TypeError: 'tuple' object does not support item assignment

In [19]:
# Example-3 Methods for Adding/Modifying
my_list = [1, 2, 3]
my_list.append(4)  # Adding 4 to the end
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

Q5. Describe the key features of sets and provide examples of their use

Answer: Key Features of Sets in Python:
1. Sets are unordered collections of unique elements.
2. Mutable: You can add or remove elements after creation.
3. Do not support indexing or slicing.
4. Useful for set operations like union, intersection, difference, and symmetric difference.
5. Set comprehension can be used to create sets concisely.
6. Cannot contain other sets but can contain tuples.
7. Membership testing is fast using in.
8. Frozensets are immutable sets that can be used as dictionary keys.

In [20]:
# Example-1 Remove Duplicates
my_set = {1, 2, 2, 3, 4, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5} (duplicates removed)

{1, 2, 3, 4, 5}

In [21]:
# Example-2 Mutable
my_set = {1, 2, 3}
my_set.add(4)  # Adding 4 to the set
print(my_set)

{1, 2, 3, 4}

In [26]:
# Example-3 Set Operation
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1 | set2  # {1, 2, 3, 4, 5}
print(union)
intersection = set1 & set2  # {3}
print(intersection)
difference = set1 - set2  # {1, 2}
print(difference)
symmetric_diff = set1 ^ set2  # {1, 2, 4, 5}
print(symmetric_diff)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

Q6. Discuss the use cases of tuples and sets in Python programming

Answer :

Use Tuples when:

You need an ordered collection of immutable items.

You want to ensure data integrity by preventing changes.

You need to return multiple values from a function.

You need to use the collection as a key in a dictionary.

Use Sets when:

You need to store unique elements and eliminate duplicates.

You need efficient membership testing.

You need to perform set operations like union, intersection, or difference.

Below are use cases of tuples & sets:

In [ ]:
# Use case-1 || Immutable data || Tuple
coordinates = (40.7128, -74.0060)  # Latitude and longitude of New York

In [28]:
# Use case-1 || Heterogeneous Data || Tuple
student_info = ("Alice", 20, "Computer Science")
student_info

('Alice', 20, 'Computer Science')

In [30]:
# Use case-3 || Returning Multiple Values from Functions || Tuple
def get_min_max(numbers):
    return (min(numbers), max(numbers))
get_min_max([10, 5, 20, 15])

(5, 20)

In [32]:
# Use case-1 || Remove Duplicates || Sets
my_set = {1, 2, 2, 3, 4, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5} (duplicates removed)

{1, 2, 3, 4, 5}

In [31]:
# Use case-2 || Set Operation || Sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1 | set2  # {1, 2, 3, 4, 5}
print(union)
intersection = set1 & set2  # {3}
print(intersection)
difference = set1 - set2  # {1, 2}
print(difference)
symmetric_diff = set1 ^ set2  # {1, 2, 4, 5}
print(symmetric_diff)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [33]:
# Use case -3 || Membership Testing || Sets
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
    print("Apple is in the set!")

Apple is in the set!

Q7. Describe how to add, modify, and delete items in a dictionary with examples

Answer:

1. Adding Items to a Dictionary :
To add a new item to a dictionary, you assign a value to a new key.

2.  Modifying Items in a Dictionary :
To modify the value of an existing item, you can simply assign a new value to the key.

3. Deleting Items from a Dictionary :
You can delete an item from a dictionary using either the del statement or the pop() method.

Using del: Removes an item by key.

Using pop(): Removes an item by key and returns the value.

In [35]:
# Example-1
# Creating an empty dictionary
my_dict = {}

# Adding a new item with key 'name' and value 'John'
my_dict['name'] = 'John'

# Adding another item
my_dict['age'] = 25

print(my_dict)

{'name': 'John', 'age': 25}

In [36]:
# Example-2
# Modifying the 'age' value
my_dict['age'] = 26

print(my_dict)

{'name': 'John', 'age': 26}

In [37]:
# Example-3
# Deleting the 'age' key-value pair using del
del my_dict['age']

print(my_dict)

{'name': 'John'}

In [38]:
# Example-4
# Using pop() to remove 'name' and capture its value
removed_value = my_dict.pop('name')

print(my_dict)  # The dictionary is now empty
print("Removed value:", removed_value)  # The value of 'name'

{}
Removed value: John

Q8. Discuss the importance of dictionary keys being immutable and provide examples

Answer:
In Python, dictionary keys must be immutable, which means that they cannot be changed after creation. This is a key characteristic that ensures the integrity and consistency of a dictionary.

Immutable Key Types

Strings: Since strings are immutable, they are often used as dictionary keys.

Tuples: A tuple can be used as a dictionary key, as long as all its elements are immutable. If the tuple contains mutable objects, it still can't be used as a key.

In [39]:
# Example
my_dict = {'name': 'John', 'age': 30}
print(my_dict)

{'name': 'John', 'age': 30}